# macOS system files
.DS_Store

# Compiled C files / executables
*.o
*.out

# Ignore Xcode user-specific files
MyCProject/*.xcworkspace
MyCProject/*.xcuserdata/
MyCProject/*.xcuserstate

# Ignore one specific C file
# MyCProject/main.c